<!--
<div class="loginwrap">
    <h2 class="text-center">Login Page</h2>
    <div class="loginbox">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                <div class="row">
                    <form name="loginForm" id="" ng-hide="currentUser" novalidate>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">User Name</label>
                                <input type="text" class="form-control" ng-model="LC.login.UNAME" name="userName" id="exampleInputEmail1" ng-trim="true" required>
                                <div class="error-class" ng-messages="loginForm.userName.$error" ng-show="loginForm.userName.$invalid && !loginForm.userName.$pristine">
                                    <div ng-message="required">Please enter user name</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" ng-model="LC.login.PASSWORD" name="password" id="exampleInputEmail1" ng-trim="true" required>
                                <div class="error-class" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
                                    <div ng-message="required">Please enter password</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="checkbox">
                                <div class="checkboxwrap">
                                    <input type="checkbox" ng-model="LC.login.LOGGED" ng-change="LC.keepLogged()" />
                                </div>
                                <label>
                                    keep me logged in
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="btn btn-primary" type="submit" ng-click="LC.loginUser(LC.login)">Login</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<!--
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">

        <div ng-show="currentUser">
            <h3>Welcome {{currentUserFname}}</h3></div>
        <div>
                <h4>Login Response</h4>
            <div>{{LC.loginResponse[0]}}</div>
        </div>
    </div>
</div>
-->

<div class="loginwrap" ng-hide="currentUser">
    <div class="container">
        <div class="col-md-offset-3 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="panel panel-default no-radius panel-custom">

                    <div class="panel-heading panel-head no-radius">LOGIN
                        <div class="loginheadtext">Enter your login credentials</div>
                        <div class="lockicon"><i class="fa fa-lock fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <!--
                            -->
                            <form name="loginForm" id="" novalidate>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Username</label>
                                        <input type="text" class="form-control no-radius" ng-model="LC.login.UNAME" name="userName" id="exampleInputEmail1" ng-trim="true" required>
                                        <span class="bar"></span>
                                        <div class="error-class" ng-messages="loginForm.userName.$error" ng-show="loginForm.userName.$invalid && !loginForm.userName.$pristine">
                                            <div ng-message="required">Please enter user name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Password</label>
                                        <input type="password" class="form-control no-radius" ng-model="LC.login.PASSWORD" name="password" id="exampleInputEmail1" ng-trim="true" required>
                                        <span class="bar"></span>
                                        <div class="error-class" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
                                            <div ng-message="required">Please enter password</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <!--
                                        <label for="exampleInputEmail1">Password</label>
                                        <input type="password" class="form-control no-radius" ng-model="LC.login.PASSWORD" name="password" id="exampleInputEmail1" ng-trim="true" required>
                                        <div class="error-class" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
                                            <div ng-message="required">Please enter password</div>
                                        </div>
-->
                                        <div class="chkbox">
                                            <input id="box1" type="checkbox" ng-model="LC.login.LOGGED" ng-change="LC.keepLogged()" />
                                            <label for="box1">Keep me logged in</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="btn btn-primary btn-block no-radius btn-login" type="submit" ng-click="LC.loginUser(LC.login)">Login</div>
                                    <div class="btn btn-primary btn-block no-radius btn-login" type="submit" ng-click="LC.loginUser(LC.login)">Register</div>
                                    <div class="btn btn-primary btn-block no-radius btn-login" type="submit" ng-click="LC.loginAsFB()">Login with Facebook</div>
                                    <div class="btn btn-primary btn-block no-radius btn-login" type="submit" ng-click="LC.sendMail()">Send Mail</div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="panel-footer panel-foot panel-head no-radius">All rights reserved</div>
                    <div class="loader-wrap">
                        <loading></loading>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>