<h1>Cascading Drop Down List</h1>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label for="sel1">Select Country:</label>
            <select class="form-control" id="sel1" ng-model="CC.country" ng-options="countries for (countries, country) in CC.countries">
                <option value="">Select</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label for="sel1">Select State:</label>
            <select class="form-control" id="sel1" ng-disabled="!CC.country" ng-model="CC.state" ng-options="states for (states, state) in CC.country">
                <option value="">Select</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label for="sel1">Select City:</label>
            <select class="form-control" id="sel1" ng-disabled="!CC.country || !CC.state" ng-model="CC.city">
            <option value="">Select</option>
                <option ng-repeat="city in CC.state" value="{{city}}">{{city}}</option>
            </select>
        </div>
    </div>
</div>

