<!--
<h2 class="text-center">Register Page</h2>

<div class="container" id="userInfo">


    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="alert alert-info" role="alert">
            <label>First Name: </label>
            <span>{{VC.viewuserdata[0].FName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="alert alert-info" role="alert">
            <label>Last Name: </label>
            <span>{{VC.viewuserdata[0].LName}}</span></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="alert alert-info" role="alert">
            <label>First Name: </label>
            <span>{{VC.viewuserdata[0].MobNo}}</span></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="alert alert-info" role="alert">
            <label>First Name: </label>
            <span>{{VC.viewuserdata[0].EmailId}}</span></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="alert alert-info" role="alert">
            <label>First Name: </label>
            <span>{{VC.viewuserdata[0].Dob}}</span></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="alert alert-info" role="alert">
            <label>First Name: </label>
            <span>{{VC.viewuserdata[0].UserName}}</span></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="alert alert-info" role="alert">
            <label>Image Path: </label>
            <span>{{VC.viewuserdata[0].Path}}</span></div>
    </div>

    <div class="clearfix"></div>

</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <button class="btn btn-info" id="dummy" type="submit" ng-click="VC.html2pdf()">Download PDF</button>
</div>
-->



<div class="registerwrap">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <div class="row">
                <div class="panel panel-default no-radius panel-custom" id="userInfo">
                    <div class="panel-heading panel-head no-radius">View User Info
                        <div class="loginheadtext">You can view selected user information.</div>
                        <div class="lockicon"><i class="fa fa-address-book-o fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" ng-src="{{VC.viewuserdata[0].Path}}" width="100" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading media-head"> Navid Ansari{{VC.viewuserdata[0].FName}}</h4>
                                <div class="spanwrap"><i class="fa fa-user" aria-hidden="true"></i><span class="inline-text">First Name:</span></div><span class="alignuser"> {{VC.viewuserdata[0].FName}}</span><div class="clearfix"></div>
                                <div class="spanwrap"><i class="fa fa-user-o" aria-hidden="true"></i><span class="inline-text">Last Name:</span></div><span class="alignuser"> {{VC.viewuserdata[0].LName}}</span><div class="clearfix"></div>
                                <div class="spanwrap"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i><span class="inline-text">Mobile No:</span></div><span class="alignuser"> {{VC.viewuserdata[0].MobNo}}</span><div class="clearfix"></div>
                                <div class="spanwrap"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="inline-text">Email Id:</span></div><span class="alignuser"> {{VC.viewuserdata[0].EmailId}}</span><div class="clearfix"></div>
                                <div class="spanwrap"><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="inline-text">Date of birth:</span></div><span class="alignuser"> {{VC.viewuserdata[0].Dob}}</span><div class="clearfix"></div>
                                <div class="spanwrap"><i class="fa fa-user-circle" aria-hidden="true"></i><span class="inline-text">Username:</span></div><span class="alignuser"> {{VC.viewuserdata[0].UserName}}</span><div class="clearfix"></div>
                                <div class="spanwrap"><i class="fa fa-file-image-o" aria-hidden="true"></i><span class="inline-text">Image Path:</span></div><span class="alignuser"> {{VC.viewuserdata[0].Path}}</span><div class="clearfix"></div>
                                <div class="spanwrap"><i class="fa fa-file-image-o" aria-hidden="true"></i><span class="inline-text">Signature:</span></div><span class="alignuser"> <img ng-src="{{VC.viewuserdataImg}}" width="70"/></span><div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!--        {{VC.viewuserdata}}-->

                </div>
                <div class="">
                    <button class="btn btn-block btn-login no-radius dow-pdf" id="dummy" type="submit" ng-click="VC.html2pdf()">Download PDF</button>
                </div>
            </div>
        </div><div class="clearfix"></div>
    </div>

</div>