/*<!-- CSS -->
    <link href="css/bootstrap.min.3.3.7.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/angular-chart.css" rel="stylesheet" type="text/css" />
    <link href="css/angular-toaster-2.1.1.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" type="text/css" rel="stylesheet" />

    <!--jquery-->
    <script src="js/jquery.min.2.2.4.js" type="text/javascript"></script>
    <!--Javascripts -->
    <script src="js/angular-1.5.8.min.js" type="text/javascript"></script>
    <script src="js/angular-animate.1.5.8.min.js" type="text/javascript"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js" type="text/javascript"></script>-->
    <script src="js/angular-ui-router.min.0.3.2.js" type="text/javascript"></script>
    <script src="js/angular-messages.1.5.8.min.js" type="text/javascript"></script>
    <script src="js/angular-toaster-tpls.2.1.1.min.js" type="text/javascript"></script>
    <script src="js/angular-cookies.1.5.8.min.js" type="text/javascript"></script>
    
    <!--required for JWT token-->
    <!--    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>-->
    <!--    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script> date polyfill-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js" type="text/javascript"></script>-->
    
    <script src="js/kendo.all.2016.3.914.min.js" type="text/javascript"></script><!--http://kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js-->
    <script src="js/Chart.js" type="text/javascript"></script>
    <script src="js/angular-chart.js" type="text/javascript"></script>
    <script src="js/dirPagination.js" type="text/javascript"></script>
    <script src="js/angular-toaster-tpls.2.1.1.js" type="text/javascript"></script>*/


/*common css*/

.navbar {
    border-radius: 0
}

.error-class {
    position: absolute;
    bottom: -1px;
    color: red;
    font-size: 90%;
}

.calender-btn {
    position: absolute;
    top: 25px;
    right: 15px;
}

.animate-if {
    background: white;
    border: 1px solid black;
    padding: 10px;
}

.animate-if.ng-enter,
.animate-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.input-group-btn {
    position: absolute;
    top: 25px;
    right: 49px;
}


/*hid native html5 datepicker*/

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}


/*remove calendar input arrow*/

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
    margin-left: 10px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    display: inline-block;
    margin-left: 10px;
}

.capitalize {
    text-transform: capitalize
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor: pointer;
}


/* form styling */

#form-container {
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 5px;
}

#form-container .page-header {
    background: #151515;
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* numbered buttons */

#status-buttons {}

#status-buttons a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}

#status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


/* active buttons */

#status-buttons a.active span {
    background: #00BC8C;
}


/* ANIMATION STYLINGS
============================================================================= */

#signup-form {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    padding: 30px;
}


/* basic styling for entering and leaving */


/* left and right added to ensure full width */

#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}


/* enter animation */

#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}


/* leave animation */

#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}


/* ANIMATIONS
============================================================================= */


/* slide out to the left */

@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

.prof-pad {
    padding: 0 30px;
    color: #fff;
}


/*common styles*/

.no-radius {
    border-radius: 0px
}

body {
    letter-spacing: 1px;
}

label {
    font-weight: 500
}

.selectbox select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    letter-spacing: 0.1em;
}

.btn,
input {
    letter-spacing: 1px
}


/*login page*/

.loginwrap {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.panel-head {
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #98d9c5 !important;
    color: #fff !important
}

.loginheadtext {
    font-size: 12px;
    position: relative
}

.lockicon {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #5ac6aa;
}

.panel-foot {
    font-size: 12px !important;
}

.panel-custom {
    border: 1px solid #98d9c5
}

.btn-login {
    background-color: #f18c9d;
    border: 1px solid #f18c9d;
    transition: all 0.3s ease 0s;
    color: #fff
}

.btn-login:hover,
.btn-login:active,
.btn-login:focus {
    background-color: #dc7a8a;
    border: 1px solid #dc7a8a;
    color: #fff
}

.rider-chekbox input[type='checkbox'] {
    display: none
}

.rider-chekbox input[type='checkbox'] + label {
    font-size: 14px;
    color: #707070;
    font-weight: 400
}

.rider-chekbox input[type='checkbox'] + label:before {
    content: '\f096';
    font-size: 20px;
    position: absolute;
    top: -5px;
    right: 5px;
    font-family: 'FontAwesome';
    color: #f26963
}

.rider-chekbox input[type='checkbox']:checked + label:before {
    content: '\f046';
    color: #f26963;
    right: 1px
}

.chkbox input[type=checkbox] {
    display: none;
}


/* to hide the checkbox itself */

.chkbox input[type=checkbox] + label {}

.chkbox input[type=checkbox] + label:before {
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 10px;
    font-family: FontAwesome;
    content: "\f096";
    display: inline-block;
}

.chkbox input[type=checkbox]:checked + label:before {
    font-family: FontAwesome;
    content: "\f046";
}


/* checked icon */

.form-control:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bar {
    position: relative;
    display: block;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #98d9c5;
    transition: 0.3s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

.chart-container canvas {
    position: relative;
    left: -100px;
    top: 0;
}

.chart-legend,
.bar-legend,
.line-legend,
.pie-legend,
.radar-legend,
.polararea-legend,
.doughnut-legend {
    position: absolute;
    right: 180px;
    top: 25px;
}

.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
    display: block
}

.filter-row span {
    display: inline-block
}

.searchwrap span {
    display: inline-block
}

.select-btn,
.delete-btn,
.search-fname,
.search-lname {
    padding-right: 15px
}

.hometablewrap {
    padding: 0 0 15px 0
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

.table-head {
    background-color: #5bc7ab;
    border-color: #5bc7ab;
    color: #fff;
    border-bottom: 5px solid #309279
}

.table-head tr th {
    border-left: 1px solid #5bc7ab !important;
    border-right: 1px solid #5bc7ab !important;
    border-top: 1px solid #5bc7ab !important;
    font-weight: 400;
    letter-spacing: 1px
}

.table-body tr td {}

.table-bordered>tbody>tr>td {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important
}

.pagination {
    margin: 0 0
}

.pagination>li:first-child>a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.paginationwrap {
    margin-top: -15px
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #309279;
    border-color: #309279;
}

.pagination>li>a,
.pagination>li>span {
    color: #000
}

.pagination>li>a:hover,
.pagination>li>span:hover {
    background-color: #5bc7ab;
    border-color: #5bc7ab;
    color: #fff
}

.view-btn {
    background-color: #e5d629;
    border: 1px solid #e5d629;
    transition: all 0.3s ease-in 0s
}

.view-btn:hover,
.view-btn:focus,
.view-btn:active {
    background-color: #d2c31a;
    border-color: #d2c31a
}

.edit-btn {
    background-color: #f18c9c;
    border: 1px solid #f18c9c;
    transition: all 0.3s ease-in 0s
}

.edit-btn:hover,
.edit-btn:active,
.edit-btn:focus {
    background-color: #d87988;
    border-color: #d87988
}

.delete-btn1 {
    background-color: #e01031;
    border: 1px solid #e01031;
    transition: all 0.3s ease-in 0s
}

.delete-btn1:hover,
.delete-btn1:active;
.delete-btn1:focus {
    background-color: #c51b36;
    border-color: #c51b36
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9c031b;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #9c031b;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #9c031b;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #9c031b;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #909;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #909;
}

.search-fname .bar,
.search-lname .bar {
    position: relative;
    display: block;
}

.search-fname .bar:before,
.search-lname .bar:before,
.search-fname .bar:after,
.search-lname .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #98d9c5;
    transition: 0.3s ease all;
}

.search-fname .bar:before,
.search-lname .bar:before {
    left: 50%;
}

.search-fname .bar:after,
.search-lname .bar:after {
    right: 50%;
}

input:focus ~ .search-fname .bar:before,
input:focus ~ .search-lname .bar:before,
input:focus ~ .search-fname .bar:after,
input:focus ~ .search-lname .bar:after {
    width: 50%;
}

.doughnut-legend-icon {
    border-radius: 0
}

.registerwrap {
    padding-top: 50px;
    -webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.filupload label {
    display: inline-block
}

.viewusername {
    padding: 0 0 0 0
}

.singleline {
    display: table
}

.singleline > span {
    background-color: red
}

.horline {
    height: 1px;
    width: 100%;
    background-color: #eceaea;
    margin: 0 0 15px 0;
}

.media-head {
    padding: 0 0 15px 0
}

.singleline:after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #f1efef;
    display: block;
    margin: 0 0 15px 0;
}

.spanwrap {
    background-color: #f1f0f0;
    width: 35%;
    padding: 10px 0 10px 10px;
    float: left;
    margin-bottom: 15px;
}

.spanwrap span {
    margin-left: 5px
}

.alignuser {
    float: left;
    padding-top: 10px;
    padding-left: 5px;
    width: 65%;
    word-wrap: break-word;
}

.dow-pdf {
    margin-bottom: 50px
}

.selectbox:after {
    position: absolute;
    font-family: 'FontAwesome' !important;
    content: "\f107" !important;
    display: block !important;
    right: 27px;
    top: 30px;
    font-size: 150%;
}

span.input-group-addon {
    position: absolute;
    width: 50px;
    height: 34px;
    top: 25px;
    right: 15px;
    padding: 10px;
    background-color: #f18c9d;
    color: #fff;
    border: 1px solid #f18c9d
}

.stepwrap {
    padding-top: 0
}

.timeline {
    background-color: #5ac6aa;
    padding: 10px 0px 1px 0;
    float: left;
    width: 100%;
}

.timeline ul {
    /*text-align: center*/
}

.timeline li {
    list-style: none;
    display: inline-block
}


/*timeline*/

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    z-index: 0;
    color: #da1449;
    text-align: center;
    cursor: pointer;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #da1449;
    display: block;
    margin: 0 auto 10px auto;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.progressbar li:after {
    width: 78%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #da1449;
    top: 14px;
    left: -39%;
    z-index: -1
}

.progressbar li:first-child:after {
    content: none
}

.progressbar li.active {
    color: green
}

.progressbar li.active:before {
    border-color: #31a733;
}

.progressbar li.active + li:after {
    background-color: #31a733 !important
}


/*rest api*/

.mini-jumbotron {
    background-color: #f0f97f;
    padding: 15px;
    color: #4a4949;
    margin-bottom: 15px;
}

.circle-name {
    background-color: #ef4864;
    width: 25px;
    height: 25px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-style: normal;
    line-height: 28px;
    color: #fff
}

.mini-j-icon {
    font-size: 22px;
    padding-right: 15px;
    color: #369c7e
}

.jumbo {
    padding: 0 0 5px 0;
}

.jumbo-nameofuser {
    font-size: 17px;
    font-weight: 500
}

.mini-jumbotron .jumbo:last-child {
    padding-top: 15px !important
}

.mini-jumbotron .jumbo:not(:first-child):not(:last-child) {
    margin-left: 5px
}

input.ng-pristine + ul#strength {
    display: none;
}

ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

#footer {
    position: fixed;
    bottom: 5px;
}

.loader-wrap {
    position: absolute;
    width: 100%;
    float: left;
    height: 100vh;
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: fixed;
    border-top: 16px solid #88c7f1;
    border-right: 16px solid #b3f7b3;
    border-bottom: 16px solid #d4a7ea;
    border-left: 16px solid pink;
    display: table;
    z-index: 9999
}

.loader-span{display: table-cell;vertical-align: middle;text-align: center}

.animate-repeat {
    /*    line-height:40px;*/
    list-style: none;
    /*box-sizing:border-box;*/
    /*    border-bottom: 1px solid white;*/
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 40px;
}

.strong   { color: #060; border-color: #0F0;}
.medium   { color: #C60; border-color: #FC0;}
.weak     { color: #900; border-color: #F00;}
.strength { padding: 1px 10px; border: 2px solid; color: #FFF;}

.media-preview {
    background-color: #eee;
    padding: 10px;
    color: black;
}
style.css:115
.media-preview {
    width: 50%;
    height: auto;
}