<!--
<h1>Update Profile</h1>

<div class="container">
    <div>{{UC.getResponse}}</div>
</div>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].FName">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].LName">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><
            <div class="form-group">
                <label for="exampleInputEmail1">Mobile No</label>
                <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].MobNo">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email Id</label>
                <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].EmailId">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Date Of Birth</label>
                <input type="date" class="form-control no-radius" ng-change="UC.changeDate()" ng-focus="UC.triggerDate()" ng-model="UC.getResponse[0].Dob" uib-datepicker-popup="{{UC.format}}" is-open="UC.popup2.opened" datepicker-options="UC.dateOptions" ng-required="true" close-text="Close" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].UserName">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].UPassword">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].ConfPassword">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Profile Picture</label>
                <img ng-src="{{UC.getResponse[0].Path}}" style="width:100px;display:block" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn btn-primary btn-block" ng-click="UC.updateUser(UC.getResponse)">Update</div>
        </div>
    </div>
</div>
-->




<div class="registerwrap">
    <div>{{UC.getResponse[0]}}</div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <div class="row">
                <div class="panel panel-default no-radius panel-custom">
                    <div class="panel-heading panel-head no-radius">Update
                        <div class="loginheadtext">Update the user fields</div>
                        <div class="lockicon"><i class="fa fa-user fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="bar"></div>
                            <form name="registerForm" id="" novalidate>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">First Name</label>
                                        <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].FName">
                                        <div class="bar"></div>
                                        <!--value="{{UC.getResponse.fName}}"-->
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Last Name</label>
                                        <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].LName">
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mobile No</label>
                                        <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].MobNo">
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email Id</label>
                                        <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].EmailId">
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Date Of Birth</label>
                                        <input type="date" class="form-control no-radius" ng-change="UC.changeDate()" ng-focus="UC.triggerDate()" ng-model="UC.getResponse[0].Dob" uib-datepicker-popup="{{UC.format}}" is-open="UC.popup2.opened" datepicker-options="UC.dateOptions" ng-required="true" close-text="Close" />
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">User Name</label>
                                        <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].UserName">
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Password</label>
                                        <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].UPassword">
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Confirm Password</label>
                                        <input type="text" class="form-control no-radius" id="exampleInputEmail1" ng-model="UC.getResponse[0].ConfPassword">
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Profile Picture</label>
                                        <img ng-src="{{UC.getResponse[0].Path}}" style="width:100px;display:block" />
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="btn btn-primary btn-block btn-login no-radius" ng-click="UC.updateUser(UC.getResponse)">Update</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--                    <div class="panel-footer"><div>{{UC.getResponse}}</div></div>-->
                </div>
            </div>
        </div>
    </div>
</div>