
<div class="container">
    <h1>Image Upload</h1>
    <form name="imageUpload" id="" novalidate>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="IC.contact.Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" ng-model="IC.contact.Password">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile" name="myFile1" id="myFile2" file-model="IC.contact.file1">
        </div>
        <!--
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile" name="myFile2" id="myFile2" file-model="IC.contact.file2">
        </div>
-->
        <button class="btn btn-primary" type="submit" ng-click="IC.imgUpload()">Submit</button>
    </form>
    {{IC.contact}}
</div>
<div>{{IC.imgResponse}}</div>


<!--
<input type="checkbox" ng-click="toggleShowDiv()" />
<label for="showDiv">Toggle DIV</label>
<div id="my-div" ng-if="showDiv">Rad Div</div>
-->

<div class="container">
    <button class="btn btn-primary" ng-click="IC.revealUser()">Reveal User Data</button>
</div>

<div>
    <div class="container animate-if" ng-if="showMe">
        <h3>Image Visible</h3>
        <div class="userImage">
            <!--<form>-->
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="IC.imgResponse.Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" id="exampleInputPassword1" ng-model="IC.imgResponse.Password">
            </div>
            <div class="img-responsive"><img style="width:100px" ng-src="{{IC.imgResponse.Path}}" /></div>
            <!--ng-src="{{IC.imgResponse.Path}}"-->
            <!--</form>-->
        </div>
    </div>
</div>