<!--
<div class="container">
    App key: gffqmiyab5jnw66ydvg67g36
state api: https://www.whizapi.com/api/v2/util/ui/in/indian-states-list?project-app-key=gffqmiyab5jnw66ydvg67g36
city api: https://www.whizapi.com/api/v2/util/ui/in/indian-city-by-state?project-app-key=gffqmiyab5jnw66ydvg67g36&stateid=8
zip api: https://www.whizapi.com/api/v2/util/ui/in/indian-city-by-postal-code?pin=402117&project-app-key=gffqmiyab5jnw66ydvg67g36

bank ifsc API

http://api.techm.co.in/api/v1/ifsc/HDFC0000410
SBIN0000138

</div>
-->


<div class="container">
    <wizard current-step-number="WC.currentStepNumber" ng-click="WC.checkOut(WC.payment)">

        <!--step 1-->
        <wizard-step title="step 1" entered="WC.stepEntered()">
            <h3>Personal details : 402117</h3>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" ng-model="WC.zipcode" required/><br>
                        <button class="btn btn-info" ng-click="WC.getByZipcode(WC.zipcode)">Get States</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">Country</label>
                            <input class="form-control" ng-model="WC.country" required disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">State</label>
                            <input class="form-control" ng-model="WC.state" required disabled />
                            <!--
                            <select ng-options="zip as zip.State for zip in WC.zipResponse track by zip.State" ng-model="WC.state" class="form-control" id="sel1" required>
                                <option value="">select state</option>
                            </select>
-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">District</label>
                            <input class="form-control" ng-model="WC.dist" required disabled />
                            <!--
                            <select ng-options="zip as zip.City for zip in WC.zipResponse" ng-model="WC.dist" class="form-control" id="sel1" required>
                                <option value="">select dist</option>
                            </select>
-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">City / Town / Village</label>
                            <select ng-options="zip as zip.Address for zip in WC.zipResponse" ng-model="WC.city" class="form-control" id="sel1" required>
                                <option value="">select dist</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </wizard-step>

        <!--step 2-->
        <wizard-step title="step 2" required-step-number="0" entered="WC.stepEntered()">
            <h3>Bank details</h3>
            <!--            <input type="email" ng-model="requiredText" required="" placeholder="Required Email Address" />-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label for="sel1">Enter IFSC code SBIN0000138</label>
                        <input class="form-control" ng-model="WC.bank.ifsc" required/><br>
                        <button class="btn btn-info" ng-click="WC.getByIfsc(WC.bank.ifsc)">Get Bank Details</button>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">State</label>
                            <input class="form-control" ng-model="WC.bank.state" required disabled/>
                            <!--
                            <select ng-options="zip as zip.State for zip in WC.zipResponse track by zip.State" ng-model="WC.state" class="form-control" id="sel1" required>
                                <option value="">select state</option>
                            </select>
-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">Bank</label>
                            <input class="form-control" ng-model="WC.bank.bankname" required disabled/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">City</label>
                            <input class="form-control" ng-model="WC.bank.city" required disabled/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">Branch</label>
                            <input class="form-control" ng-model="WC.bank.branch" required disabled/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div>{{WC.ifscResponse}}</div>
        </wizard-step>
        
        <wizard-step title="step 3" required-step-number="0" entered="WC.stepEntered()">
            <h3>Bank details</h3>
            <!--            <input type="email" ng-model="requiredText" required="" placeholder="Required Email Address" />-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label for="sel1">Payment details</label>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">Card no</label>
                            <input class="form-control" ng-model="WC.payment.cardno" required/>
                            <!--
                            <select ng-options="zip as zip.State for zip in WC.zipResponse track by zip.State" ng-model="WC.state" class="form-control" id="sel1" required>
                                <option value="">select state</option>
                            </select>
-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">Expiry date</label>
                            <input class="form-control" ng-model="WC.payment.expdate" required/>
                            <!--
                            <select ng-options="zip as zip.City for zip in WC.zipResponse" ng-model="WC.dist" class="form-control" id="sel1" required>
                                <option value="">select dist</option>
                            </select>
-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sel1">CVV2</label>
                            <input class="form-control" ng-model="WC.payment.cvv2" required/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div></div>
        </wizard-step>

<!--
        <wizard-step ng-repeat="step in dynamicSteps" required-step-number="{{$index + 1}}" title="{{step}}">
            <p>{{step}}</p>
            <input type="text" required="" ng-model="localScope" />
        </wizard-step>
-->
    
    </wizard>
</div>
<div>{{WC.zipResponse}}</div>

