<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ PC.headerText }}</h3>
</div>
<div class="modal-body">
 <p>{{ PC.bodyText }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="PC.ok()" ng-if="PC.buttonText">{{PC.buttonText}}</button>
    <button class="btn btn-warning" ng-click="PC.cancel()" ng-if="PC.buttonText2">{{PC.buttonText2}}</button>
</div>


<!--

<button class="btn btn-primary" ng-click="HC.openModal()">Popup</button>
-->

<!--
this.openModal = function(){
        console.log("modal function running");
        var modalInstance = $modal.open({
					  //controller: 'PopupCont',
                      templateUrl: 'app/home/modal.html'
                });
    };-->
