<div class="modal-header">
    <h3 class="modal-title">About Me</h3>
</div>
<div class="modal-body">
<!--
    <h1>I'm <span style="color:#337ab7;font-family:Kaushan Script,;font-size:30px;">Dhaval Shah</span></h1>
    <h4>SharePoint and Dot Net Consultant</h4>
    <a href="http://www.dhavalcodes.com" target="blank">http://www.dhavalcodes.com</a>
-->
    <signature-pad id="signaturePad" accept="SM.accept" clear="SM.clear" height="220" width="568"></signature-pad>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="SM.signatureCancel()">Cancel</button>
    <button class="btn btn-warning" type="button" ng-click="SM.clear()">Clear</button>
    <button class="btn btn-primary" type="button" ng-click="SM.saveSignature()">Save</button>
    
</div>