<!--
<label>Interest</label>
<form name="interestForm" id="interestForm" novalidate>
    <h3>Bank details</h3>
                <input type="email" ng-model="requiredText" required="" placeholder="Required Email Address" />
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <label for="sel1">Enter IFSC code SBIN0000138</label>
                <input class="form-control" ng-model="SC.bank.ifsc" required/>
                <br>
                <button class="btn btn-info" ng-click="SC.getByIfsc(SC.bank.ifsc)">Get Bank Details</button>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">State</label>
                    <input class="form-control" ng-model="SC.bank.state" required disabled/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">Bank</label>
                    <input class="form-control" ng-model="SC.bank.bankname" required disabled/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">City</label>
                    <input class="form-control" ng-model="SC.bank.city " required disabled/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">Branch</label>
                    <input class="form-control" ng-model="SC.bank.branch" required disabled/>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-info" ng-click="SC.goToPayment()">NEXT</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>{{SC.ifscResponse}}</div>
</form>
-->
<!--ui-sref="form.payment"-->


<div class="registerwrap stepwrap">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <div class="row">
                <div class="panel panel-default no-radius panel-custom">
                    <div class="panel-heading panel-head no-radius">Bank Details
                        <div class="loginheadtext">Provide the bank details</div>
                        <div class="lockicon"><i class="fa fa-user fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form name="interestForm" id="interestForm" novalidate>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">IFSC code : SBIN0000138</label>
                                        <input class="form-control no-radius" ng-model="SC.bank.ifsc" required/>
                                        <div class="bar"></div>
                                        <span class="btn input-group-addon" ng-click="SC.getByIfsc(SC.bank.ifsc)" ng-disabled="!SC.bank.ifsc" ng-trim="true">GO</span>
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">State</label>
                                        <input class="form-control no-radius" ng-model="SC.bank.state" required disabled/>
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">City</label>
                                        <input class="form-control no-radius" ng-model="SC.bank.city " required disabled/>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">Bank</label>
                                        <input class="form-control no-radius" ng-model="SC.bank.bankname " required disabled/>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">Branch</label>
                                        <input class="form-control no-radius" ng-model="SC.bank.branch" required disabled/>
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                        <button class="btn btn-block btn-login no-radius" ng-click="SC.goToPayment()" ng-disabled="interestForm.$invalid">NEXT</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!--                    <div class="panel-footer"><div>{{UC.getResponse}}</div></div>-->
            </div>
        </div>
    </div>
</div>