<!--
<h2 class="text-center">Register Page</h2>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <form name="registerForm" id="" novalidate>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control capitalize" ng-model="RC.register.fName" name="fName" id="exampleInputEmail1" ng-trim="true" required>
                    <div class="error-class" ng-messages="registerForm.fName.$error" ng-show="registerForm.fName.$invalid && !registerForm.fName.$pristine">
                        <div ng-message="required">Please enter First Name</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control capitalize" ng-model="RC.register.lName" name="lName" id="exampleInputEmail1" ng-trim="true" required>
                    <div class="error-class" ng-messages="registerForm.lName.$error" ng-show="registerForm.lName.$invalid && !registerForm.lName.$pristine">
                        <div ng-message="required">Please enter Last Name</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mobile No</label>
                    <input type="text" class="form-control" ng-model="RC.register.mobileNo" name="mobileNo" id="exampleInputEmail1" ng-pattern="RC.mobileRegex" ng-trim="true" required>
                    <div class="error-class" ng-messages="registerForm.mobileNo.$error" ng-show="registerForm.mobileNo.$invalid && !registerForm.mobileNo.$pristine">
                        <div ng-message="required">Please enter Mobile No</div>
                        <div ng-message="pattern">Please enter 10 digits only</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email id</label>
                    <input type="text" class="form-control" ng-model="RC.register.emailId" name="emailId" id="exampleInputEmail1" ng-pattern="RC.emailRegex" ng-trim="true" required>
                    <div class="error-class" ng-messages="registerForm.emailId.$error" ng-show="registerForm.emailId.$invalid && !registerForm.emailId.$pristine">
                        <div ng-message="required">Please enter Email Id</div>
                        <div ng-message="pattern">Enter email id in proper format</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Date of birth</label>
                    <input type="date" class="form-control" ng-change="RC.changeDate()" ng-focus="RC.triggerDate()" ng-model="RC.register.dateOfBirth" uib-datepicker-popup="{{RC.format}}" is-open="RC.popup2.opened" datepicker-options="RC.dateOptions" ng-required="true" close-text="Close" />

                    <div class="error-class" ng-messages="registerForm.dateOfBirth.$error" ng-show="registerForm.dateOfBirth.$invalid && !registerForm.dateOfBirth.$pristine" ng-trim="true">
                        <div ng-message="required">Please enter age</div>
                        <div ng-message="pattern">age is less than 18</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" ng-model="RC.register.userName" name="uName" id="exampleInputEmail1" ng-pattern="RC.usernameRegex" ng-trim="true" required>
                    <div class="error-class" ng-messages="registerForm.uName.$error" ng-show="registerForm.uName.$invalid && !registerForm.uName.$pristine">
                        <div ng-message="required">Please enter username</div>
                        <div ng-message="pattern">Special characters are not allowed</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" ng-model="RC.register.password" name="password" id="exampleInputEmail1" ng-trim="false" required>
                    <div class="error-class" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$invalid && !registerForm.password.$pristine">
                        <div ng-message="required">Please enter password</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Confirm Password</label>
                    <input type="password" class="form-control" ng-model="RC.register.confPassword" name="cPassword" id="exampleInputEmail1" ng-pattern="{{RC.register.password}}" ng-trim="false" required>
                    <div class="error-class" ng-messages="registerForm.cPassword.$error" ng-show="registerForm.cPassword.$invalid && !registerForm.cPassword.$pristine">
                        <div ng-message="required">Please Re-enter password</div>
                        <div ng-message="pattern">Password is not matching</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile" file-model="RC.register.fileInput" name="fileInput" required>
                    <div class="error-class" ng-messages="registerForm.fileInput.$error" ng-show="registerForm.fileInput.$invalid && !registerForm.fileInput.$pristine">
                        <div ng-message="required">Please Re-enter password</div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
            <div>{{RC.register}}</div>
            <div>{{RC.register.dateOfBirth}}</div>

            <br>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button class="btn btn-info" type="submit" ng-click="RC.userRegister()">Register</button>
            </div>
        </form>
    </div>
</div>
-->

<div class="registerwrap">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <div class="row">
                <div class="panel panel-default no-radius panel-custom">
                    <div class="panel-heading panel-head no-radius">Registration
                        <div class="loginheadtext">Enter your details in below fields</div>
                        <div class="lockicon"><i class="fa fa-user fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="bar"></div>
                            <form name="registerForm" id="" novalidate>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div ng-class="{'has-success':(registerForm.fName.$valid && !registerForm.fName.pristine),'has-error':(!registerForm.fName.$valid && registerForm.fName.pristine) || (!registerForm.fName.$valid && registerForm.$submitted)}">
                                            <label for="exampleInputEmail1">First Name</label>
                                            <input type="text" class="form-control capitalize no-radius" ng-model="RC.register.fName" name="fName" id="exampleInputEmail1" ng-trim="true" required>
                                        </div>
                                        <div class="bar"></div>
                                        <div class="error-class" ng-messages="registerForm.fName.$error" ng-show="(registerForm.fName.$invalid && !registerForm.fName.$pristine) || (registerForm.$submitted && registerForm.fName.$error.required)">
                                            <div ng-message="required">Please enter First Name</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Last Name</label>
                                        <input type="text" class="form-control capitalize no-radius" ng-model="RC.register.lName" name="lName" id="exampleInputEmail1" ng-trim="true" required>
                                        <div class="bar"></div>
                                        <div class="error-class" ng-messages="registerForm.lName.$error" ng-show="registerForm.lName.$invalid && !registerForm.lName.$pristine">
                                            <div ng-message="required">Please enter Last Name</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mobile No</label>
                                        <input type="text" class="form-control no-radius" ng-model="RC.register.mobileNo" name="mobileNo" id="exampleInputEmail1" ng-pattern="RC.mobileRegex" ng-trim="true" required>
                                        <div class="bar"></div>
                                        <div class="error-class" ng-messages="registerForm.mobileNo.$error" ng-show="registerForm.mobileNo.$invalid && !registerForm.mobileNo.$pristine">
                                            <div ng-message="required">Please enter Mobile No</div>
                                            <div ng-message="pattern">Please enter 10 digits only</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email id</label>
                                        <!--ng-change="RC.checkEmail(RC.register.emailId)"-->
                                        <input type="text" validate-email-remotely class="form-control no-radius" ng-model="RC.register.emailId" name="emailId" id="exampleInputEmail1" ng-pattern="RC.emailRegex" ng-trim="true" required>
                                        <div class="bar"></div>
                                        <div class="error-class" ng-messages="registerForm.emailId.$error" ng-show="registerForm.emailId.$invalid && !registerForm.emailId.$pristine">
                                            <div ng-message="required">Please enter Email Id</div>
                                            <div ng-message="pattern">Enter email id in proper format</div>
                                            <div ng-message="validEmail">This email address already taken</div>
                                        </div>
                                        <!--                                        <div  ng-if="RC.showEmailExist">Email already exist</div>-->
                                        <!--                                        <div ng-show="registerForm.emailId.$validEmail">This email address already exists.</div>-->
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Date of birth</label>
                                        <!--                    <div class=""></div>-->
                                        <input type="date" class="form-control no-radius" ng-change="RC.changeDate()" ng-focus="RC.triggerDate()" ng-model="RC.register.dateOfBirth" uib-datepicker-popup="{{RC.format}}" is-open="RC.popup2.opened" datepicker-options="RC.dateOptions" ng-required="true" close-text="Close" />
                                        <!--{{RC.format}} date-popup-->
                                        <!--triggerDate-->
                                        <!--
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="RC.triggerDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
-->
                                        <!--
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="RC.register.dateOfBirth" is-open="RC.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="RC.dobCalc()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
-->
                                        <!--
                    <input type="text" class="form-control" class="form-control" datepicker-popup="dd/MM/yyyy" is-open="RC.valuationDatePickerIsOpen" ng-focus="RC.dobCalendar()" ng-model="RC.register.dateOfBirth" name="dateOfBirth" id="exampleInputEmail1" ng-trim="true" required>
                    <button type="button" class="btn calender-btn" ng-focus="RC.dobCalendar()" ng-model="RC.register.dateOfBirth" name="dateOfBirth" id="exampleInputEmail1" ng-trim="true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
-->
                                        <div class="bar"></div>
                                        <div class="error-class" ng-messages="registerForm.dateOfBirth.$error" ng-show="registerForm.dateOfBirth.$invalid && !registerForm.dateOfBirth.$pristine" ng-trim="true">
                                            <div ng-message="required">Please enter age</div>
                                            <div ng-message="pattern">age is less than 18</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Username</label>
                                        <input type="text" class="form-control no-radius" ng-model="RC.register.userName" name="uName" id="exampleInputEmail1" ng-pattern="RC.usernameRegex" ng-trim="true" required>
                                        <div class="bar"></div>
                                        <div class="error-class" ng-messages="registerForm.uName.$error" ng-show="registerForm.uName.$invalid && !registerForm.uName.$pristine">
                                            <div ng-message="required">Please enter username</div>
                                            <div ng-message="pattern">Special characters are not allowed</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Password</label>
                                        <!--                                        <ng-password-meter password="pass" ng-model="RC.register.password" name="pw" id="pw" ng-trim="false"></ng-password-meter>-->

                                        <input type="password" class="form-control no-radius" ng-model="RC.register.password" ng-change="RC.analyze(RC.register.password)" required>
                                        <!--check-strength="RC.register.password" name="pw" id="pw" -->
                                        <!--ng-model="RC.pw" name="pw" id="pw"-->
                                        <div class="bar"></div>
                                        <!--                                        <ul id="strength" check-strength="pw"></ul>-->
                                        <div ng-style="passwordStrengthRed"></div>
                                        <div ng-style="passwordStrengthOrange"></div>
                                        <div ng-style="passwordStrengthGreen"></div>
                                        <!--                                        <ul id="strength" check-strength="pw"></ul>-->
                                        <div class="error-class" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$invalid && !registerForm.password.$pristine">
                                            <div ng-message="required">Please enter password</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Confirm Password</label>
                                        <input type="password" class="form-control no-radius" ng-model="RC.register.confPassword" name="cPassword" id="exampleInputEmail1" ng-pattern="{{RC.register.password}}" ng-trim="false" required>
                                        <div class="bar"></div>
                                        <div class="error-class" ng-messages="registerForm.cPassword.$error" ng-show="registerForm.cPassword.$invalid && !registerForm.cPassword.$pristine">
                                            <div ng-message="required">Please Re-enter password</div>
                                            <div ng-message="pattern">Password is not matching</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group filupload">
                                        <media-preview >
                                            <label for="exampleInputFile">Profile Picture</label>
                                            <input type="file" class="form-control no-radius pull-left" id="exampleInputFile" file-model="RC.register.fileInput" name="fileInput" required>
                                            <input type="button" ng-click="RC.clearPreview()" value="X">
                                            <div class="bar"></div>
                                        </media-preview>
                                        <!--
                                        <label class="btn btn-default btn-file">
                                            Upload image
                                            <input type="file" class="hidden" file-model="RC.register.fileInput" name="fileInput" required>
                                        </label>
                                        <label></label>
-->
                                        <div class="error-class" ng-messages="registerForm.fileInput.$error" ng-show="registerForm.fileInput.$invalid && !registerForm.fileInput.$pristine">
                                            <div ng-message="required">Please Re-enter password</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Signature</label>
                                        <input type="password" class="form-control btn btn-default btn-block no-radius" ng-model="RC.register.signature" ng-click="RC.signature()" name="signature" id="exampleInputEmail1" required>
                                        <div class="showSign"><img ng-src="{{RC.base64Img}}" style="width:100%;height:80px;display:block" ng-if="RC.base64Image" /></div>
                                        <input type="text" ng-model="RC.base64Img" hidden>
                                        <!--                                        <div class="bar"></div>-->
                                        <div class="error-class" ng-messages="registerForm.cPassword.$error" ng-show="registerForm.signature.$invalid && !registerForm.signature.$pristine">
                                            <div ng-message="required">Please sign password</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-block no-radius btn-login" type="submit" ng-click="RC.userRegister()">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--                    <div class="panel-footer">Panel footer</div>-->
                </div>
            </div>
        </div>
    </div>
</div>