<!--
<form name="paymentForm" id="paymentForm" novalidate>
    <h3>Bank details</h3>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <label for="sel1">Payment details</label>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">Card no</label>
                    <input class="form-control" ng-model="SC.payment.cardno" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">Expiry date</label>
                    <input class="form-control" ng-model="SC.payment.expdate" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">CVV2</label>
                    <input class="form-control" ng-model="SC.payment.cvv2" required/>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-info" ng-click="SC.checkOut()">NEXT</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div></div>
</form>
-->


<div class="registerwrap stepwrap">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <div class="row">
                <div class="panel panel-default no-radius panel-custom">
                    <div class="panel-heading panel-head no-radius">Payment
                        <div class="loginheadtext">Provide the payment details</div>
                        <div class="lockicon"><i class="fa fa-user fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form name="paymentForm" id="paymentForm" novalidate>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">Card no</label>
                                        <input class="form-control no-radius" ng-model="SC.payment.cardno"/>
                                        <div class="bar"></div>
<!--                                        <span>{{ SC.payment.cardno | validate }}</span>-->

                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">Expiry date</label>
                                        <input class="form-control no-radius" ng-model="SC.payment.expdate" required/>
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">CVV2</label>
                                        <input class="form-control" ng-model="SC.payment.cvv2" required/>
                                    </div>
                                </div>

                                
                                <div class="col-xs-12">
                                    <button class="btn btn-block btn-login no-radius" ng-click="SC.checkOut()" ng-disabled="paymentForm.$invalid">NEXT</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!--                    <div class="panel-footer"><div>{{UC.getResponse}}</div></div>-->
            </div>
        </div>
    </div>
</div>