<!--
<form name="profileForm" id="profileForm" novalidate>
    <h3>Personal details : 402117</h3>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" ng-model="SC.zipcode" required/>
                <br>
                <button class="btn btn-info" ng-click="SC.getByZipcode(WC.zipcode)" ng-disabled="!SC.zipcode" ng-trim="true">Get States</button>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">Country</label>
                    <input class="form-control" ng-model="SC.country" required disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">State</label>
                    <input class="form-control" ng-model="SC.state" required disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">District</label>
                    <input class="form-control" ng-model="SC.dist" required disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sel1">City / Town / Village</label>
                    <select ng-options="zip as zip.Address for zip in SC.zipResponse" ng-model="SC.city" class="form-control" id="sel1" required>
                        <option value="">select dist</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12"><button class="btn btn-info" ng-click="SC.goToInterests()" ng-disabled="profileForm.$invalid">NEXT</button> </div>
            <div>{{vm.zipResponse}}</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>-->


<div class="registerwrap stepwrap">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <div class="row">
                <div class="panel panel-default no-radius panel-custom">
                    <div class="panel-heading panel-head no-radius">Address
                        <div class="loginheadtext">Provide the address details</div>
                        <div class="lockicon"><i class="fa fa-user fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="bar"></div>

                            <form name="profileForm" id="" novalidate>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <!--                                        <div class="input-group">-->
                                        <label for="sel1">Zip code</label>
                                        <input class="form-control no-radius" ng-model="SC.zipcode" required/>
                                        <div class="bar"></div>
                                        <span class="btn input-group-addon" ng-click="SC.getByZipcode(WC.zipcode)" ng-disabled="!SC.zipcode" ng-trim="true">GO</span>
                                        <!--
                                            <span class="btn input-group-addon" ng-click="SC.getByZipcode(WC.zipcode)" ng-disabled="!SC.zipcode" ng-trim="true">
                                            GO
                                            </span>
-->
                                        <!--                                        </div>-->
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">Country</label>
                                        <input class="form-control no-radius" ng-model="SC.country" required disabled />
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">State</label>
                                        <input class="form-control no-radius" ng-model="SC.state" required disabled />
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">District</label>
                                        <input class="form-control no-radius" ng-model="SC.dist" required disabled />
                                        <div class="bar"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">City / Town / Village</label>
                                        <div class="selectbox">
                                            <!--ng-options=zip as zip.Address for zip in SC.zipResponse display data from RestApi-->
                                            <!--ng-options="zip.Address as zip.Address for zip in SC.zipResponse" ng-model="SC.city" ng-change="SC.getCity(SC.city)" to get ng-model value of selected item-->
                                            <select ng-options="zip.Address as zip.Address for zip in SC.zipResponse" ng-model="SC.city" ng-change="SC.getCity(SC.city)" class="form-control no-radius" id="sel1" required>
                                                <option value="">select district</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="row">
                                            <button class="btn btn-info btn-block btn-login no-radius" ng-click="SC.goToInterests()" ng-disabled="profileForm.$invalid">NEXT</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--                    <div class="panel-footer"><div>{{UC.getResponse}}</div></div>-->
                </div>
            </div>
        </div>
    </div>
</div>