<div class="homewarap">
    <div class="container">
        <div class="headerwrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="info text">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div>
                                    <h3>Welcome to the Dashboard</h3>
                                </div>
                                <div>
                                    <p>You can manage your users, add, delete and view users. You can also refer pie chart to determine the email provider percentage.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="piechart">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="canvaswrap">
                                    <canvas id="doughnut" height="70" width="auto" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-legend="true">
                                    </canvas>
                                </div>
                                <!--                <div>{{HC.groupCount1[0]}}</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="hometablewrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">

                    <div class="filter-row form-inline">
                        <span class="select-btn"><button type="button" class="btn btn-info no-radius" ng-click="HC.showAllCHK()">Select Multiple</button></span>
                        <span class="delete-btn animate-show"><button type="button" class="btn btn-danger no-radius" ng-click="HC.deleteChecked()" ng-show="HC.selectAll">Delete Multiple</button></span>

                        <span class="search-fname"><input type="text" class="form-control no-radius" placeholder="search first name" ng-model="HC.search.FName" /><span class="bar"></span></span>
                        <span class="search-lname"><input type="text" class="form-control no-radius" placeholder="search last name" ng-model="HC.search.LName" /><span class="bar"></span></span>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="tablewrap"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="loader-wrap">
                    <loading></loading>
                </div>
                <table class="table table-bordered">
                    <thead class="table-head">
                        <tr>
                            <th ng-show="HC.selectAll" ng-disabled="HC.contact[$index]"></th>
                            <th ng-click="HC.sort('FName')">First Name<span class="glyphicon sort-icon" ng-show="HC.sortKey=='FName'" ng-class="{'glyphicon-chevron-up':HC.reverse,'glyphicon-chevron-down':!HC.reverse}"></span></th>
                            <th ng-click="HC.sort('LName')">Last Name<span class="glyphicon sort-icon" ng-show="HC.sortKey=='LName'" ng-class="{'glyphicon-chevron-up':HC.reverse,'glyphicon-chevron-down':!HC.reverse}"></span></th>
                            <th>Date of birth</th>
                            <th width="10%" class="text-center">View</th>
                            <th width="10%" class="text-center">Delete</th>
                            <th width="10%" class="text-center">Edit</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr dir-paginate="contact in HC.contactList | itemsPerPage : 10 | filter:HC.search | orderBy:HC.sortKey:HC.reverse" class="animate-repeat">
                            <!--orderBy:HC.sortType:HC.sortReverse-->
                            <!--filter:HC.search | orderBy:HC.sortType:HC.sortReverse-->
                            <!--                            <tr ng-repeat="contact in HC.contactList | filter:HC.search">-->
                            <!--reverse | -->
                            <!--orderBy:HC.sort-->
                            <!--reverse-->
                            <td ng-show="HC.selectAll" class="vert-align">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="true" ng-model="HC.contact[$index]" ng-checked="HC.exist(contact.UserId)" ng-click="HC.checkOne(contact.UserId)" />

                                        <!--
                                        <div class="chkbox">
                                            <input id="box1" type="checkbox" value="true" ng-model="HC.contact[$index]" ng-checked="HC.exist(contact.UserId)" ng-click="HC.checkOne(contact.UserId)"/>
                                            <label for="box1"></label>
                                        </div>
-->
                                    </label>
                                </div>
                            </td>
                            <td class="vert-align">{{contact.FName}}</td>
                            <td class="vert-align">{{contact.LName}}</td>
                            <td class="vert-align">{{contact.Dob}}</td>
                            <!--MobNo-->
                            <!--
                        <td>{{contact.EmailId}}</td>
                        <td>{{contact.Dob}}</td>
                        <td>{{contact.UserName}}</td>
                        <td>{{contact.UPassword}}</td>
-->
                            <td class="vert-align text-center">
                                <button class="btn btn-primary no-radius view-btn" ng-click="HC.viewContact(contact.UserId)">View</button>
                            </td>
                            <td class="vert-align text-center">
                                <button class="btn btn-warning no-radius edit-btn" ng-click="HC.editContact(contact.UserId)">Edit</button>
                            </td>
                            <td class="vert-align text-center">
                                <button class="btn btn-danger no-radius delete-btn1" ng-click="HC.removeContact(contact.UserId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="paginationwrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="sel1">Select list:</label>
    <select class="form-control" id="sel1" ng-model="HC.myDropDown" ng-change="HC.dropDownChng(HC.myDropDown)" ng-options="fruit.FName for fruit in HC.resolveData">

    </select>
</div>