<!--
<h1>REST API</h1>

<div class="container">

    <div class="col-md-4 col-sm-4" ng-repeat="post in AC.postResponse">
        <div class="jumbotron" style="padding:10px 15px 10px 15px">
            <p style="font-size:12px">ID: {{post.id}}</p>
            <p style="font-size:12px">USERNAME: {{post.username}}</p>
            <p style="font-size:12px">ADDRESS: {{post.address.street}}</p>
            <p style="font-size:12px">ADDRESS: {{post.address.geo.lat}}</p>
            <p style="font-size:12px">ADDRESS: {{post.address.geo.lng}}</p>
        </div>
    </div>
    <div class="">
        <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1" ng-model="AC.displayUsername" ng-options="post as post.username for post in AC.postResponse">
            </select>
        </div>
    </div>
</div>
-->

<div class="registerwrap stepwrap">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="loader-wrap">
                    <loading></loading>
                </div>
                <div class="col-xs-4 animate-repeat" ng-repeat="post in AC.postResponse" >
                    <!--ng-class-odd="'odd'" ng-class-even="'even'"-->
                    <div class="mini-jumbotron">
                        <div class="jumbo jumbo-name"><span class="circle-table"><i class="circle-name" ng-style="{background: AC.colorCodeArray[$index % AC.colorCodeArray.length]}">{{post.name.substr(0,1)}}</i></span><b class="jumbo-nameofuser">{{post.name}}</b></div>
                        <div class="jumbo jumbo-uname"><i class="fa fa-user mini-j-icon" aria-hidden="true"></i><span>Username: {{post.username}}</span></div>
                        <div class="jumbo jumbo-address"><i class="fa fa-id-badge mini-j-icon" aria-hidden="true"></i><span>User id: {{post.id}}</span></div>
                        <div class="jumbo jumbo-street"><i class="fa fa-road mini-j-icon" aria-hidden="true" style="margin-left:-5px"></i><span style="margin-left:-3px">Street name: {{post.address.street}}</span></div>
                        <div class="jumbo jumbo-location"><i class="fa fa-map-marker mini-j-icon" aria-hidden="true"></i><span>Location: Lat {{post.address.geo.lat}},Lon {{post.address.geo.lng}}</span></div>
                        <div class="jumbo jumbo-btn">
                            <button class="btn btn-block btn-login no-radius" ng-click="SC.checkOut()" ng-disabled="paymentForm.$invalid">Approve </button>
                        </div>
                    </div>
                </div>

                <!--
                <div class="col-xs-4" ng-repeat="post in AC.postResponse">
                    <div class="jumbotron">
                        <p style="font-size:12px">ID: {{post.id}}</p>
                        <p style="font-size:12px">USERNAME: {{post.username}}</p>
                        <p style="font-size:12px">ADDRESS: {{post.address.street}}</p>
                        <p style="font-size:12px">ADDRESS: {{post.address.geo.lat}}</p>
                        <p style="font-size:12px">ADDRESS: {{post.address.geo.lng}}</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-block btn-login no-radius" ng-click="SC.checkOut()" ng-disabled="paymentForm.$invalid">NEXT</button>
                </div>
-->
            </div>

            <!--                    <div class="panel-footer"><div>{{UC.getResponse}}</div></div>-->
        </div>
    </div>
</div>
<!--    <div>{{AC.postResponse[0]}}</div>-->