<h1>Test Mysql</h1>

<!--<div>{{UC.getResponse.fName}}</div>-->
<div class="container">

</div>
<div class="container">
    <div></div>
    <div class="row">
        <form name="mysqlForm" novalidate>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter Person ID:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="MC.mysql.id">
                    <!--value="{{UC.getResponse.fName}}"-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="MC.mysql.fname">
                    <!--value="{{UC.getResponse.fName}}"-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn btn-primary btn-block" type="submit" ng-click="MC.mysqlData(MC.mysql)">Find Info</div>
            </div>
        </form>
    </div>
</div>
<p> {{MC.mysqlResponse}}</p>

<table class="table">
    <thead>
        <tr>
            <td>PersonID</td>
            <td>LastName</td>
            <td>FirstName</td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="list in MC.mysqlResponse">
            <td>{{list.PersonID}}</td>
            <td>{{list.LastName}}</td>
            <td>{{list.FirstName}}</td>
        </tr>
    </tbody>
</table>

<div class="repeat" ng-repeat="list in mysqlResponse">
    <div class="one">
        <div>{{list.PersonID}}</div>
        <div>{{list.LastName}}</div>
        <div>{{list.FirstName}}</div>
    </div>
</div>