<!--
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">

            <div class="page-header text-center">
                <h2>Let's Be Friends</h2>


                <div id="status-buttons" class="text-center">


                    <button class="btn btn-default" ui-sref-active="active" ui-sref=".profile" ng-click="SC.goToProfile()" ng-class="SC.status">Profile</button>
                    <button class="btn btn-default" ui-sref-active="active" ui-sref=".interests" ng-click="SC.goToInterests()" ng-class="SC.status1">Interests</button>
                    <button class="btn btn-default" ui-sref-active="active" ui-sref=".payment" ng-click="SC.goToPayment()" ng-class="SC.status2">Payment</button>
                </div>
            </div>

            <div class="prof-pad">
                <p>fill up the form</p>
                <button class="btn btn-info" ng-click="SC.goToSteps()" ng-if="SC.hideNext">Next</button>
                <div id="form-views" ui-view></div>
            </div>

        </div>
    </div>
-->

<div class="stepformwrap">
    <div class="container">
        <div class="timelinewrap">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div class="row">
                    <div class="timeline">
                        <ul class="progressbar">
                            <li ui-sref="stepform.profile" ng-click="SC.goToProfile()"  ng-disabled="SC.address">Address</li><!--ng-class="SC.status"-->
                            <li ui-sref="stepform.interests" ng-click="SC.goToInterests()"  ng-disabled="SC.bankdetails">Bank Details</li><!--ng-class="SC.status1"-->
                            <li ui-sref="stepform.payment" ng-click="SC.goToPayment()" ng-disabled="SC.payment">Payment</li><!--ng-class="SC.status2" -->
                        </ul>

                        <!--
                        <ul class="">
                            <li>
                                <button class="btn btn-default cirlce-radius" ui-sref-active="active" ui-sref=".profile" ng-click="SC.goToProfile()" ng-class="SC.status">Address</button>
                            </li>
                            <li>
                                <button class="btn btn-default cirlce-radius" ui-sref-active="active" ui-sref=".interests" ng-click="SC.goToInterests()" ng-class="SC.status1">Bank Details</button>
                            </li>
                            <li>
                                <button class="btn btn-default cirlce-radius" ui-sref-active="active" ui-sref=".payment" ng-click="SC.goToPayment()" ng-class="SC.status2">Payment</button>
                            </li>
                        </ul>
-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<button class="btn btn-info" ng-click="SC.goToSteps()" ng-if="SC.hideNext">Next</button>-->
<div id="form-views" ui-view></div>